<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html lang="en" ng-app="spillmagasinetFront">
<head>
  <meta name="robots" content="noindex">
  <meta charset="utf-8" />
  <meta name="viewport" content="initial-scale=1.0; minimum-scale=1.0">
  <script src="js/jquery-2.1.4.js"></script>
  
  <script src="js/angular.js"></script>
  <script src="js/TweenMax.min.js"></script>
  <script src="js/underscore.js"></script>
  <link href='stylesheets/google-fonts-1.css' rel='stylesheet' type='text/css'>
  <link href='stylesheets/google-fonts-3.css' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" type="text/css" href="stylesheets/screen.css">
  <title>SPMG - Spillmagasinet</title>
</head>
<body ng-app="spillmagasinetFront" ng-controller="contentController">
  <div id="main-page-wrapper">
    <header id="page-header">
      <div id="logo-container">
        <img src="img/background-glow.png" id="spmg-logo-glow">
        <img src="img/spmg-logo.png" id="spmg-logo">
        <img src="img/levert-av-nettavisen.png" id="spmg-logo-bottom">
      </div>
      <button id="burger-menu-button"></button>
      <div id="page-header-background" style="background-image: url(img/header-image.jpg)"></div>
    </header>

    <div id="main-articles">
      <article ng-repeat="story in stories | limitTo: storyLimiter">
        <div class="article-background" ng-style="{'background-image': 'url(' + story.image + ')'}"></div>
        <header class="article-info">
          
          <p class="category">{{story.category}}</p>
          <h1 class="title">{{story.title}}</h1>
          <p class="byline">{{story.author}}  - {{story.created | date: 'd. MMM yyyy'}}</p>
        </header>
      </article>
      <div class="articles-list-controls">
      <button class="show-more-button" ng-click="increaseStoryLimiter()" ng-show="storyLimiterButtonVisbility">Vis mer</button>
      </div>
    </div>
    <div class="section-header-container">
      <h1 class="title">Blogg</h1>
    </div>
    <div id="blogg-articles">
      <button class="rollover-button left" ng-click="scrollBloggRoll(false)"></button>
      <button class="rollover-button right" ng-click="scrollBloggRoll(true)"></button>
      <div id="ultra-long-blog-container">
        <article ng-repeat="story in fromBlogg | limitTo: 16">
          <div class="article-image" ng-style="{'background-image': 'url(' + story.image + ')'}"></div>
          <header class="article-info">
            <p class="category">{{story.category}}</p>
            <h1 class="title">{{story.title}}</h1>
            <p class="byline">{{story.author}}  - {{story.created | date: 'd. MMM yyyy'}}</p>
          </header>
        </article>
      </div>
    </div>
    <div id="spmg-video-container">
      <div class="section-header-container">
        <h1 class="title turq"><span class="spmg">SPMG</span> Video</h1>
      </div>
      <div class="spmg-video-player-container">
        <iframe width="100%" height="525" src="https://www.youtube.com/embed/YDYhMBSCODI?list=PLauYgtvXwAsgp-pgQ-0BRyeqfaIbQWK7U" frameborder="0" allowfullscreen></iframe>
      </div>
    </div>
    <div class="section-header-container">
      <h1 class="title">Spillanmeldelser</h1>
    </div>
    <div id="reviews-container">
      <p id="reviews-message">Gi din mening</p>
      <button class="rollover-button left turq" ng-click="scrollReviewRoll(false)"></button>
      <button class="rollover-button right turq" ng-click="scrollReviewRoll(true)"></button>
      <div id="ultra-long-review-container">
        <article ng-repeat="story in reviews | limitTo: 16">
          <div class="article-image" ng-style="{'background-image': 'url(img/' + story.image + ')'}"></div>
          <header class="article-info">
            <div class="score-container"><span class="score">{{story.score}}</span></div>
            <h1 class="title">{{story.title}}</h1>
            <p class="byline">{{story.author}}  - {{story.created | date: 'd. MMM yyyy'}}</p>
          </header>
          <div class="user-score-wrapper">
            <div class="user-score-container"><span class="score">{{story.score}}</span></div>
            <p class="user-score-text">Leserne mener</p>
          </div>
        </article>
      </div>
    </div>
    <div id="weeks-gamer-and-podcast">
      <article id="weeks-gamer">
        <div class="section-header-container">
          <h1 class="title">Ukens gamer</h1>
        </div>
        <div class="article-image-container"><img src="img/blogg-3-background.jpg"></div>
        <div class="article-info">
          <h2 class="title">Bli bedre kjent med Noobwork</h2>
          <p class="byline">Jørgen J.  - 24. jan</p>
          <p><a href="blabla">Les intervjuet her..</a></p>
        </div>
      </article><article id="podcasts">
        <div class="section-header-container">
          <h1 class="title">Gaming-podcasts</h1>
        </div>
        <div class="article-image-container"><img src="img/blogg-3-background.jpg"></div>
        <div class="article-info">
          <h2 class="title">Vi kårer de ti beste plattformspillene på Super Nintendo</h2>
          <p class="byline">Jørgen J.  - 24. jan</p>
          <p><a href="blabla">Hør hele episoden her..</a></p>
        </div>
      </article>
    </div>
  </div>
  <script src="app-and-controllers.js"></script> 
</body>
</html>
